.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a b b b b b";
    margin-bottom: 10px;
    grid-gap: 20px;
}

.image-container img {
    width: 100%; 
}

.image-container {
    grid-area: a;
}

.info_container {
    grid-area: b;
}

.price-tag {
    position: absolute;
    right: 1%;
    bottom: 1vh;
    font-weight: bold;
}

.btn-delete {
    position: absolute;
    right: 1%;
    top: 1vh;
}